<html>
    {% include "head.html" %}

    <body>
        <div>
            <div id="header">
                <div class="jumbotron text-center" style="margin-bottom:0">
                    <h1>Map Service</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid">
        <div class="row">
{% raw %}
            <div class="col-md-4 col-lg-4 col-sm-12" id="left">
                    <div id="app">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <!--
                                <button class="btn btn-outline-secondary dropdown-toggle"
                                        type="button"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">Aktionen</button>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Nodes</a>
                                    <a class="dropdown-item" href="#">Links</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div> -->

                                <select v-model="cmd" class="form-control" id="command">
                                    <option value="nodes">Nodes</option>
                                    <option value="links">Links</option>
                                    <option value="crossings">Kreuzungen</option>
                                    <option value="route">Route</option>
                                    <option value="linkdistance">Link Distance</option>
                                </select>
                            </div>

                            <input v-if="cmd != 'route' && cmd != 'linkdistance'" v-on:keyup.enter="loaddata" v-model="geohash"  type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">

                            <input v-if="cmd == 'route'"  v-model="router.geohashStart" value="router.geohashStart" type="text" name="start" placeholder="startgeohash" class="form-control"/>
                            <input v-if="cmd == 'route'"  v-model="router.geohashEnd" value="router.geohashEnd" type="text" name="end" placeholder="end" class="form-control"/>

                            <div class="input-group-append">
                                <button v-if="cmd != 'linkdistance'" v-on:click="loaddata" class="btn btn-outline-secondary" type="button" id="button-addon2">Load</button>
                                <button v-if="cmd == 'linkdistance'" v-on:click="calcLinkDist" class="btn btn-outline-secondary" type="button" id="button-addon1">Caculate</button>
                                <span v-if="cmd=='linkdistance'">Klicke in Karte, um Punkt zu wählen</span>
                            </div>

                        </div >

                        <div>
                            <logitem v-for="item in logitems" v-bind:line1="item.line1" v-bind:line2="item.line2" v-bind:line3="item.line3"></logitem>
                        </div>

                    </div>
            </div>
{% endraw %}


            <div id="mapid" class="col-md-8 col-lg-8 col-sm-12">
            </div>
        </div>

</body>
</html>