<html>
    {% include "head.html" %}

    <body>
        <div>
            <div id="header">
                <div class="jumbotron text-center" style="margin-bottom:0">
                    <h1>Map Service</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid">
        <div class="row">
{% raw %}
            <div class="col-md-4 col-lg-4 col-sm-12" id="left">
                    <div id="app">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <!--
                                <button class="btn btn-outline-secondary dropdown-toggle"
                                        type="button"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">Aktionen</button>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Nodes</a>
                                    <a class="dropdown-item" href="#">Links</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div> -->

                                <select v-model="cmd" class="form-control" id="command">
                                    <option value="nodes">Nodes</option>
                                    <option value="links">Links</option>
                                    <option value="crossings">Kreuzungen</option>
                                    <option value="route">Route</option>
                                </select>
                            </div>

                            <input v-on:keyup.enter="loaddata" v-model="geohash"  type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button v-on:click="loaddata" class="btn btn-outline-secondary" type="button" id="button-addon2">Load</button>
                            </div>

                        </div >

                        <div>

                        </div>

                        <div>
                            <tile v-for="t in tiles" v-bind:text="t.text" v-bind:key="t.id" v-bind:count="t.count"></tile>
                        </div>

                    </div>
            </div>
{% endraw %}


            <div id="mapid" class="col-md-8 col-lg-8 col-sm-12">
            </div>
        </div>

</body>
</html>