<html>
    <head>
         <link rel="stylesheet" href="{{ url_for('static', filename='./leaflet/leaflet.css') }}"/>
         <link rel="stylesheet" href="{{ url_for('static', filename='./bootstrap.min.css') }}"/>

        <link rel="stylesheet" href="{{ url_for('static', filename='./styles.css') }}"/>

         <script src="{{ url_for('static', filename='./leaflet/leaflet.js') }}"></script>
         <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
         <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='map.js') }}"></script>

    </head>

    <body>
        <div id="header">
            <div class="jumbotron text-center" style="margin-bottom:0">
                <h1>Map Service</h1>
            </div>
        </div>
        <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <form class="form-inline" id="form-tile-load">
                  <div class="form-group">
                      <label for="tile">Kachel</label>
                      <input type="text" class="form-control" id="input-tile" placeholder=""/>
                      <label for="tile">Nur Kreuzungen</label>
                      <input type="checkbox" class="form-control" id="input-only-crossroads"/>
                      <input type="button" id="btn-submit-tile" class="btn btn-primary" name="load" value="Load"/>
                  </div>
                </form>
            </div>

            <div id="mapid" class="col-8">

            </div>
        </div
        </div>>
    </body>

</html>