
<head>
     <link rel="stylesheet" href="{{ url_for('static', filename='./leaflet/leaflet.css') }}"/>
     <link rel="stylesheet" href="{{ url_for('static', filename='./bootstrap.min.css') }}"/>
     <link rel="stylesheet" href="{{ url_for('static', filename='./styles.css') }}"/>

     <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
     <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
     <script src="{{ url_for('static', filename='./leaflet/leaflet.js') }}"></script>

     <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
     <script src="{{ url_for('static', filename='map.js') }}"></script>

     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title> Mapservice </title>
</head>

