#mapid {
    height: 500px;
}

#header .jumbotron{
    padding: 1px 2rem !important;
}

#left > *{
    margin-left: 10px;
    margin-top: 10px;
}

.logitem{
    padding: 5px;
    margin: 5px;
  -moz-box-shadow:    0 0 2px 4px #ccc;
  -webkit-box-shadow: 0 0 2px 4px #ccc;
  box-shadow:         0 0 2px 4px #ccc;
}

.logitem .line{
    display: block;
}

#logitems{
    overflow: auto;
    height: 450px;
}
#logitems::-webkit-scrollbar {
    width: 1em;
}

#logitems::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#logitems > :first-child{
    background-color: #fff7a0;
}

.linkdistlog > span{
    padding-top: 10px;
}