#mapid {
    height: 500px;
}

#header .jumbotron{
    padding: 1rem 2rem !important;
}

#left > *{
    margin-left: 10px;
    margin-top: 10px;
}

.logitem{
    padding: 5px;
    margin: 5px;
  -moz-box-shadow:    0px 0px 2px 4px #ccc;
  -webkit-box-shadow: 0px 0px 2px 4px #ccc;
  box-shadow:         0px 0px 2px 4px #ccc;
}

.logitem .line{
    display: block;
}
